body{
background-color:gold;
}
.continer{
margin-top:25px;
background-color: aqua;
border: solid gold;
width: 1350px;
font-size: 18px;
font-style: oblique;
margin:auto;
overflow: hidden;
border: 50px doted;
border-radius: 10px;
}
.header{
background-color: yellowgreen;
border: solid red;
width: 100%;
float: left;
text-align:center;
font-size: 64px;
}
.sideber-left{
background-color: antiquewhite;
width: 291px;
border: 2 px solid black;
float: left;
text-align:center;
}
.contantnt{
background-color: blue;
width: 750px;
float: left;
text-align:center;
}
.sideber_right{
background-color: blueviolet;
width: 291px;
float: left;
border: 1px solid white;
text-align:center;
}
.footer{
background-color: yellowgreen;
width: 100%;
float: left;
border: solid red
text-align:center;
}

.menu{
background-color: violet;
height: 50px;
}
.menu ul{
list-style-type: none;
display: inline-flex;
}
.menu ul li{

}
.menu ul li a{
background: linear-gradient(blue,#EDF2D3);
color: white;
text-decoration: none;
margin: auto;
margin-right: 5px;
padding: 10px 50px;
}
.menu ul li a:hover{
background: linear-gradient(red,green) !important;
}
.logo img{
float: left;
}
.site_name{
font-style: inherit;
background-color: red;
}
.social_menu{

}
.social_menu img{
float: right;
margin-right: 5px;
}



.header ul li{float:left;list-style-type:none}
.header ul li{border-left:1px solid red;border-right:1px solid red}
.header ul li:last-child{border-right:0px solid }
.header ul li:first-child{border-left:0px}
.header ul li a{display:block;padding:13px 12px;text-decoration:none;color:white}
.header ul li a:hover{color:black;background-color:white;}
.footer{overflow:hidden}

.footer_left{width:230px;float:left}